<h1>Editing loan application</h1>

<%= render "form", loan_application: @loan_application %>

<br>

<div>
  <%= link_to "Show this loan application", @loan_application %> |
  <%= link_to "Back to loan applications", loan_applications_path %>
</div>
